.root {
    /* -fx-app-name:"Patient Care Center"; */

    /* Primary Colors */
    -fx-primary-pane-color: #ffffff;
    /* White */
    -fx-secondary-pane-color: #1f3953;
    /* Dark blue-gray */

    /* Text Colors */
    -fx-primary-text-color: #000000;
    /* Black */
    -fx-secondary-text-color: #ffffff;
    /* White */

    /* Button Colors */
    -fx-primary-button-color: #3498DB;
    /* Bright blue */
    -fx-secondary-button-color: #ffffff;
    /* White */

    /* Link Colors */
    -fx-primary-link-color: #3498DB;
    /* Bright blue */
    -fx-secondary-link-color: #ffffff;
    /* White */

    /* Link Hover Colors */
    -fx-primary-link-hover-color: #0d8ce1;
    /* Brighter blue */
    -fx-secondary-link-hover-color: #bcdff6;
    /* Light blue */

    /* Button Text Colors */
    -fx-primary-button-text-color: #ffffff;
    /* White */
    -fx-secondary-button-text-color: #000000;
    /* Black */

    /* Border Colors */
    -fx-primary-border-color: #34495E;
    /* Dark blue-gray */
    -fx-secondary-border-color: #2C3E50;
    /* Darker blue-gray */

    /* Textfield Colors */
    -fx-primary-textfield-color: #0000000f;
    /* Semi-transparent black */
    -fx-secondary-textfield-color: derive(-fx-secondary-pane-color, 20%);
    /* Derived from secondary pane color */

    /* Background Colors */
    -fx-primary-background-color: #ECF0F1;
    /* Light gray */
    -fx-secondary-background-color: #BDC3C7;
    /* Slightly darker gray */

    /* Shadow Colors */
    -fx-primary-shadow-color: rgb(20, 36, 53);
    /* Dark blue-gray */
    -fx-secondary-shadow-color: rgba(52, 73, 94, 0.5);
    /* Semi-transparent blue-gray */

    /* Button Hover Colors */
    -fx-primary-button-hover-color: #1ABC9C;
    /* Teal */
    -fx-secondary-button-hover-color: #16A085;
    /* Darker teal */

    /* Error Colors */
    -fx-primary-error-color: #d51111;
    /* Bright red */
    -fx-secondary-error-color: #b31c11;
    /* Darker red */
    -fx-primary-error-text-color: #ffffff;
    /* White */
    -fx-secondary-error-text-color: #ffffff;
    /* White */

    /* Info Colors */
    -fx-primary-info-color: #0d8ce1;
    /* Bright blue */
    -fx-primary-info-text-color: #ffffff;
    /* White */

    /* Warning Colors */
    -fx-primary-warning-color: rgb(179, 207, 19);
    /* Yellow-green */
    -fx-primary-warning-text-color: #ffffff;
    /* White */
}

.shadow-box {
    -fx-effect: dropshadow(gaussian, -fx-primary-shadow-color, 5, 5, 10, 2);
}

.background-container {
    -fx-background-color: -fx-primary-background-color;
}

.h1-p {
    -fx-fill: -fx-primary-text-color;
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.h1-s {
    -fx-fill: -fx-secondary-text-color;
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.h2-p {
    -fx-fill: -fx-primary-text-color;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.h2-s {
    -fx-fill: -fx-secondary-text-color;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.normal-text-p {
    -fx-fill: -fx-primary-text-color;
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 1.1em;
    -fx-text-alignment: center;
}

.normal-text-s {
    -fx-fill: -fx-secondary-text-color;
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 1.1em;
    -fx-text-alignment: center;
}
.bold-text-p {
    -fx-fill: -fx-primary-text-color;
    -fx-font-size: 1.1em;
    -fx-font-weight:bold;
    -fx-text-alignment: center;
}

.bold-text-s {
    -fx-fill: -fx-secondary-text-color;
    -fx-font-size: 1.1em;
    -fx-font-weight:bold;
    -fx-text-alignment: center;
}

.textfield {
    -fx-font-size: 1.1em;
    -fx-background-color: -fx-primary-textfield-color;
}

.button-primary {
    -fx-background-color: -fx-primary-button-color;
    -fx-text-fill: -fx-primary-button-text-color;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button-primary:hover {
    -fx-background-color: -fx-primary-button-hover-color;
}

.button-seconday {
    -fx-background-color: -fx-secondary-button-color;
    -fx-text-fill: -fx-secondary-button-text-color;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button-seconday:hover {
    -fx-background-color: -fx-secondary-button-hover-color;
}

.hidden {
    visibility: hidden;
}

.round {
    -fx-background-radius: 20px;
}

.link {
    -fx-text-fill: -fx-primary-link-color;
    -fx-fill: -fx-primary-link-color;
    -fx-cursor: hand;
}

.link:hover {
    -fx-text-fill: -fx-primary-link-hover-color;
    -fx-fill: -fx-primary-link-hover-color;
    -fx-underline: true;
}

.link-s {
    -fx-text-fill: -fx-secondary-link-color;
    -fx-fill: -fx-secondary-link-color;
    -fx-cursor: hand;
}

.link-s:hover {
    -fx-text-fill: -fx-secondary-link-hover-color;
    -fx-fill: -fx-secondary-link-hover-color;
    -fx-underline: true;
}

.error-label {
    -fx-background-color: -fx-primary-error-color;
    -fx-font-size: 1.2em;
    -fx-background-radius: 5;
    -fx-wrap-text: true;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-text-fill: -fx-primary-error-text-color;
    -fx-padding: 5;
}

.success-label {
    -fx-background-color: -fx-primary-success-color;
    -fx-font-size: 1.2em;
    -fx-background-radius: 5;
    -fx-wrap-text: true;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-text-fill: -fx-primary-success-text-color;
    -fx-padding: 5;
}

.info-label {
    -fx-background-color: -fx-primary-info-color;
    -fx-font-size: 1.2em;
    -fx-background-radius: 5;
    -fx-wrap-text: true;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-text-fill: -fx-primary-info-text-color;
    -fx-padding: 5;
}

.warning-label {
    -fx-background-color: -fx-primary-warning-color;
    -fx-font-size: 1.2em;
    -fx-background-radius: 5;
    -fx-wrap-text: true;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-text-fill: -fx-primary-warning-text-color;
    -fx-padding: 5;
}

.pane-p {
    -fx-background-color: -fx-primary-pane-color;
    -fx-alignment: top-center;
}

.pane-s {
    -fx-background-color: -fx-secondary-pane-color;
    -fx-alignment: top-center;
}

.delete-button{
    -fx-fill:red;
    -fx-text-fill: red;
    -fx-background-color: -fx-primary-pane-color;
}

.edit-button{
    -fx-fill:#0c9e20;
    -fx-text-fill: #0c9e20;
    -fx-background-color: -fx-primary-pane-color;
}

.view-button{
    -fx-text-fill: #256ad1;
    -fx-fill: #256ad1;
    -fx-background-color: -fx-primary-pane-color;
}

.low-quantity {
    -fx-border-color: #ff2929; /* Red */
    -fx-background-color: #ff2929; /* Red */
    -fx-text-fill: -fx-secondary-text-color;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-width: 0.6px;
    -fx-border-radius: 5px;
}

.medium-quantity {
    -fx-border-color: #e9a72e; /* Orange */
    -fx-text-fill: -fx-secondary-text-color;
    -fx-background-color: #e9a72e; /* Orange */
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-width: 0.6px;
    -fx-border-radius: 5px;
}

.high-quantity {
    -fx-border-color: #33e433; /* Green */
    -fx-background-color: #33e433; /* Green */
    -fx-text-fill: -fx-secondary-text-color;
    -fx-background-radius: 5;
    -fx-border-width: 0.6px;
    -fx-padding: 5;
    -fx-border-radius: 5px;
}

.very-high-quantity {
    -fx-border-color: #2020e0; /* Blue */
    -fx-background-color: #2020e0; /* Blue */
    -fx-text-fill: -fx-secondary-text-color;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-width: 0.6px;
    -fx-border-radius: 5px;
}